{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contacto - Shineray{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/contacto.css' %}">
{% endblock %}

{% block content %}
<div class="contact-page">
  <div class="contact-container">
    <!-- Columna izquierda -->
    <div class="contact-info">
      <h1>Contacto</h1>
      <p>Si tiene alguna pregunta y solicitud de cotización, no dude en ponerse en contacto con nosotros.</p>

        <!-- Datos de contacto adicionales -->
      <div class="contact-details">
        <p><strong>Dirección:</strong> Av. Central Oriente No.1487-B, entre 13 y 14 Oriente, Col. Centro, Tuxtla Gutiérrez, Chiapas. C.P.29000</p>
        <p><strong>Teléfono:</strong> 40484777</p>
        <p><strong>Email:</strong> <a href="mailto:diegowitron@outlook.com">shineray@outlook.com</a></p>
        <p><strong>Horarios de Atención:</strong> Lunes a Viernes de 9:00 AM a 6:00 PM <br>
           Sábados de 9:00 AM a 2:00 PM
        </p>
      </div>


      <div class="contact-socials">
        <p>MANTENERSE EN CONTACTO</p>
        <div class="social-icons">
          <a href="#" class="contact-networks-icon">
            <img src="{% static 'main/images/facebook.png' %}" alt="Facebook">
          </a>
          <a href="#" class="contact-networks-icon">
            <img src="{% static 'main/images/instagram.png' %}" alt="Instagram">
          </a>
          <a href="#" class="contact-networks-icon">
            <img src="{% static 'main/images/youtube.png' %}" alt="YouTube">
          </a>
          <a href="#" class="contact-networks-icon">
            <img src="{% static 'main/images/tiktok.png' %}" alt="TikTok">
          </a>
        </div>
      </div>


    </div>

    <!-- Columna derecha -->
    <div class="contact-form">
      <form action="#" method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre <span>*</span></label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre completo" required>

        <label for="correo">Correo Electrónico <span>*</span></label>
        <input type="email" id="correo" name="correo" placeholder="correo@ejemplo.com" required>

        <label for="mensaje">Noticias <span>*</span></label>
        <textarea id="mensaje" name="mensaje" rows="5" placeholder="Su mensaje está aquí..." required></textarea>

        <button type="submit" class="contact-button">Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
