{% extends 'main/base.html' %}
{% load static %}
{% block title %}Inicio - Shineray{% endblock %}
{% block extra_head %}
  <!-- Estilos exclusivos para la página de Inicio -->
  <link rel="stylesheet" href="{% static 'main/css/inicio.css' %}">
  <link href="{% static 'main/css/carousel.css' %}" rel="stylesheet">
  <!-- AOS CSS para animaciones -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

{% endblock %}
{% block content %}

<!-- Carousel Principal -->
<section class="custom-carousel" style="margin-top: 0;">
        <div class="carousel-container">
            <div class="slide"><img src="{%  static 'main/images/banner1.jpg' %}" alt="Automóvil 1"></div>
            <div class="slide"><img src="{%  static 'main/images/banner2.jpg' %}" alt="Automóvil 2"></div>
            <div class="slide"><img src="{%  static 'main/images/banner3.jpg' %}" alt="Automóvil 3"></div>
            <div class="slide"><img src="{%  static 'main/images/banner4.jpg' %}" alt="Automóvil 4"></div>
        </div>
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </section>

    <!-- Mostrando los dos modelos populares -->
<div class="container marketing" data-aos="fade-up">
  <div class="row justify-content-center">
    <div class="col-lg-4 text-center mb-4">
      <img src="{% static 'main/images/apecity.webp' %}" class="img-fluid hover-lift img-small" alt="Ape City">
      <h2 class="fw-normal mt-3">Ape City</h2>
      <p>Por sus características técnicas, confort, avances tecnológicos, diseño, y sobre todo el respaldo de una gran marca, APE CITY es tu mejor opción para el servicio de Mototaxi.</p>
      <p><a class="btn btn-secondary" href="{% url 'vehiculos' %}">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4 text-center mb-4">
      <img src="{% static 'main/images/apecitynxt.webp' %}" class="img-fluid hover-lift img-small" alt="Ape City NXT">
      <h2 class="fw-normal mt-3">Ape City NXT</h2>
      <p>Con la suavidad de manejo, características de Piaggio, tus clientes preferirán esta unidad sobre cualquier otra. Su amplio espacio para pasajeros, harán la diferencia a la hora de elegir este modelo.</p>
      <p><a class="btn btn-secondary" href="{% url 'vehiculos' %}">Ver detalles &raquo;</a></p>
    </div>
  </div>
</div>

<!-- Featurettes: Opiniones de clientes -->

    <div class="container text-center my-5" data-aos="fade-up">
  <h1 class="display-5">Opiniones</h1>
  <p class="lead">Conoce las opiniones de nuestros clientes satisfechos</p>
</div>


<hr class="featurette-divider" data-aos="fade-up">

<div class="container" data-aos="fade-up">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">“Ape City cambió mi forma de movilizarme.” <span class="text-body-secondary">- Juan Pérez</span></h2>
      <p class="lead">"Desde que adquirí mi Ape City, mi negocio ha mejorado notablemente. Es económico, confiable y el servicio es insuperable. ¡Totalmente recomendado!"</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'main/images/persona1.jpg' %}" class="img-fluid rounded hover-lift" alt="Ape City">
    </div>
  </div>

  <hr class="featurette-divider" data-aos="fade-up">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">“El Ape City NXT es mi mejor inversión.” <span class="text-body-secondary">- María López</span></h2>
      <p class="lead">"La eficiencia y comodidad del Ape City NXT me han permitido ofrecer un servicio de calidad a mis clientes. Es un vehículo innovador y seguro." </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'main/images/persona2.jpg' %}" class="img-fluid rounded hover-lift" alt="Ape City NXT">
    </div>
  </div>

    <!--
  <hr class="featurette-divider" data-aos="fade-up">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">“Ape Xtra X es ideal para mi negocio.” <span class="text-body-secondary">- Carlos García</span></h2>
      <p class="lead">"Utilizo mi Ape Xtra X para el transporte de carga y ha sido excepcional. Su robustez y eficiencia han superado todas mis expectativas." </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'main/images/persona3.jpg' %}" class="img-fluid rounded hover-lift" alt="Ape Xtra X">
    </div>
  </div>
  -->

  <hr class="featurette-divider" data-aos="fade-up">
</div>

<!-- AOS JS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 800,
    once: true
  });
</script>

{% endblock %}
